# Not in use at the moment, Amazon Linux used by containers doesn't support
# pip-tools or the newest versions of various modules so package version
# lockdown is not possible
astropy
flask
gunicorn
jplephem
pytest
pip-tools
